<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350768497157-5jsjk2fj0ae91p9fe3lp3i3vnq0ovcp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350768497157-5jsjk2fj0ae91p9fe3lp3i3vnq0ovcp0</string>
	<key>API_KEY</key>
	<string>AIzaSyDQkjWjVo132mikb2YwPgEm8u16UCPOvYw</string>
	<key>GCM_SENDER_ID</key>
	<string>350768497157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Housemates.HouseMates.AIGirlFriend</string>
	<key>PROJECT_ID</key>
	<string>AIGirlFriend-1395b</string>
	<key>STORAGE_BUCKET</key>
	<string>AIGirlFriend-1395b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:350768497157:ios:e9d954d65fbb19dde8526c</string>
</dict>
</plist>
